CREATE TRIGGER on_auth_user_created AFTER INSERT ON auth.users FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();


  create policy "Authenticated Upload for Proposals"
  on "storage"."objects"
  as permissive
  for insert
  to public
with check (((bucket_id = 'propuestas'::text) AND (auth.role() = 'authenticated'::text)));



  create policy "Dar acceso publico de lectura a propuestas"
  on "storage"."objects"
  as permissive
  for select
  to public
using ((bucket_id = 'propuestas'::text));



  create policy "Give anon users full access to remitos bucket"
  on "storage"."objects"
  as permissive
  for all
  to anon
using ((bucket_id = 'remitos'::text))
with check ((bucket_id = 'remitos'::text));



  create policy "Los usuarios autenticados pueden subir comprobantes de pago"
  on "storage"."objects"
  as permissive
  for insert
  to authenticated
with check (((bucket_id = 'comprobantes_pago_clientes'::text) AND public.is_app_user()));



  create policy "Permitir a usuarios autenticados gestionar remitos"
  on "storage"."objects"
  as permissive
  for all
  to authenticated
using ((bucket_id = 'remitos'::text))
with check ((bucket_id = 'remitos'::text));



  create policy "Permitir a usuarios autenticados subir fotos de perfil"
  on "storage"."objects"
  as permissive
  for insert
  to authenticated
with check ((bucket_id = 'perfiles'::text));



  create policy "Permitir a usuarios autenticados ver las fotos de perfil"
  on "storage"."objects"
  as permissive
  for select
  to authenticated
using ((bucket_id = 'perfiles'::text));



  create policy "Permitir acceso p├║blico de actualizaci├│n a assets"
  on "storage"."objects"
  as permissive
  for update
  to public
using ((bucket_id = 'assets'::text));



  create policy "Permitir acceso p├║blico de lectura a assets"
  on "storage"."objects"
  as permissive
  for select
  to public
using ((bucket_id = 'assets'::text));



  create policy "Permitir acceso p├║blico de subida a assets"
  on "storage"."objects"
  as permissive
  for insert
  to public
with check ((bucket_id = 'assets'::text));



  create policy "Permitir actualizaciones en propuestas"
  on "storage"."objects"
  as permissive
  for update
  to public
using ((bucket_id = 'propuestas'::text));



  create policy "Permitir lectura de comprobantes de pago"
  on "storage"."objects"
  as permissive
  for select
  to anon
using ((bucket_id = 'comprobantes_pago_vendedores'::text));



  create policy "Permitir lectura p├║blica de recibos"
  on "storage"."objects"
  as permissive
  for select
  to authenticated
using ((bucket_id = 'recibos_comisiones'::text));



  create policy "Permitir lecturas an├│nimas de recibos"
  on "storage"."objects"
  as permissive
  for select
  to anon
using ((bucket_id = 'recibos_comisiones'::text));



  create policy "Permitir lecturas de comprobantes_pago_clientes"
  on "storage"."objects"
  as permissive
  for select
  to anon
using ((bucket_id = 'comprobantes_pago_clientes'::text));



  create policy "Permitir subida de archivos a recibos"
  on "storage"."objects"
  as permissive
  for insert
  to authenticated
with check ((bucket_id = 'recibos_comisiones'::text));



  create policy "Permitir subidas a comprobantes_pago_clientes"
  on "storage"."objects"
  as permissive
  for insert
  to anon
with check ((bucket_id = 'comprobantes_pago_clientes'::text));



  create policy "Permitir subidas an├│nimas a recibos"
  on "storage"."objects"
  as permissive
  for insert
  to anon
with check ((bucket_id = 'recibos_comisiones'::text));



  create policy "Permitir subidas de comprobantes de pago"
  on "storage"."objects"
  as permissive
  for insert
  to anon
with check ((bucket_id = 'comprobantes_pago_vendedores'::text));



  create policy "Permitir subidas publicas a propuestas"
  on "storage"."objects"
  as permissive
  for insert
  to public
with check ((bucket_id = 'propuestas'::text));



  create policy "Public Access for Proposals"
  on "storage"."objects"
  as permissive
  for select
  to public
using ((bucket_id = 'propuestas'::text));




